@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

.remove-fave {
    background-color: honeydew;
    margin-top: -5px;
    width: max-content;
    box-shadow: -2px 2px #dd694c;
    border-radius: 5px;
    font-family: 'Libre Frankin', sans-serif;
    background-color: honeydew;
    color: rgb(89, 131, 66);
    border: 2px solid #dd694c;
}

.home {
    background-color: honeydew;
    margin-top: -5px;
    width: max-content;
    box-shadow: -2px 2px #dd694c;
    border-radius: 5px;
    font-family: 'Libre Frankin', sans-serif;
    background-color: honeydew;
    color: rgb(89, 131, 66);
    border: 2px solid #dd694c;
}

.remove-fave:hover {
    background-color: white;
}

.remove-fave:active {
    border: 2px inset #A8D49A;
}

.movie-container-faves {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 10px;
}

.favorite-header {
    text-align: center;
    font-family: 'Bowlby One SC', sans-serif;
    letter-spacing: .10em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #dd694c;
    font-size: 30px;
}

.four-oh-four {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}