@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.movie-display-header {
    text-align: center;
    display: flex;
}

.backdrop {
    width: 100%;
    border-top: 8px solid black;
    border-bottom: 8px solid black;
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.movie-display-title {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 50px;
    letter-spacing: .10em;
    padding: 20px 10px;
    position: absolute;
    z-index: 1;
    color: white;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
    background-color: rgba(0, 0, 0, 0.3);
    top: 125px;
    left: 0;
    right: 0;
}

.tagline {
    position: absolute;
    z-index: 1;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);    
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
    bottom: 0;
    left: 0;
    right: 0;
}

.movie-display-body {
    background-color: #A8D49A;
    position: sticky;
    z-index: 100;
    display: flex;
    flex-flow: column nowrap;
    height: max-content;
    overflow: scroll;
    width: 65%;
    height: 75vh;
    margin-left: 20%;
    border: 2px solid black;    
    padding: 5px;
    box-shadow: -2px 2px #dd694c;

}

.poster-section {
    display: flex;
    padding: 5px;
}

.inside {
    padding: 5px;
}

.movie-display-poster {
    height: 300px;
    border: 3px solid black;
    border-radius: 2px;
}

.extra-movie-info {
    padding: 10px;
}