@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&display=swap');


.movie-card {
    height: 375px;
    width: 175px;
    padding: 5px;
    margin: 10px;
    box-shadow: -2px 2px #dd694c;
    background-color: honeydew;
    border-radius: 3px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-family: 'Libre Franklin', sans-serif;
    color: black;
}

.movie-card-nav {
    text-decoration: none;
}

.movie-card-title {
    font-weight: bold;
}

.movie-card-poster {
    width: 150px;
    height: auto;
    border: 5px solid black;
    border-radius: 2px;
}

.movie-container {
    display: flex;
    flex-flow: column nowrap;
    width: max-content;
}

.tomatillo-fave-main {
    background-color: honeydew;
    height: 30px;
    width: 25px;
    padding: 10px;
    margin-bottom: -15px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: -2px 0px #dd694c;
    z-index: 0;
  }