@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&display=swap');


.movie-card {
    height: 390px;
    width: 175px;
    padding: 5px;
    margin: 10px;
    box-shadow: -2px 2px #dd694c;
    background-color: honeydew;
    border-radius: 3px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-family: 'Libre Franklin', sans-serif;
    color: black;
}

.movie-card-nav {
    text-decoration: none;
}

.movie-card-title {
    font-weight: bold;
}

.movie-card-poster {
    width: 150px;
    height: auto;
    border: 5px solid black;
    border-radius: 2px;
}

.tomatillo-fave {
    width: 20px;
    height: auto;
    margin: 5px;
}